{% extends "base.html"%} {% block page_left_head %}
<li class="breadcrumb-item active">任务管理</a>
</li>
{% endblock %} {% block page_left_body %}
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">任务序号</th>
            <th scope="col">任务信息</th>
            <th scope="col">任务文件</th>
            <th scope="col">任务操作</th>
        </tr>
    </thead>
    <tbody>
        {% for task in task_list %}
        <tr>
            <th scope="row">{{ task.index }}</th>
            <td>
                <a data-toggle="collapse" href=#{{ loop.index }} aria-expanded="false" aria-controls={{ loop.index }}>显示全部</a>
            </td>
            <td>
                <a data-toggle="collapse" href=#file{{ loop.index }} aria-expanded="false" aria-controls=file{{ loop.index }}>显示全部</a>
            </td>
            <td>
                <a data-toggle="collapse" href=#jsd-3d{{ loop.index }} aria-expanded="false" aria-controls=jsd-3d{{ loop.index }}>3D模型预览</a>
                <a href="{{ url_for('view_server.preview_result') }}">渲染结果预览</a>
                <a href="{{ url_for('view_server.task_manager_add_in_queue',task_id=task.index) }}">添加进任务队列</a>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="padding: 0">
                <div class="collapse" id={{ loop.index }}>
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">唯一验证码：{{ task.passcode }}</li>
                            <li class="list-group-item">名称：{{ task.name }}</li>
                            <li class="list-group-item">说明：{{ task.info }}</li>
                            <li class="list-group-item">执行参数：{{ task.parameter }}</li>
                            <li class="list-group-item">更新时间：{{ task.update_time }}</li>
                            <li class="list-group-item">状态码：{{ task.status }}</li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="padding: 0">
                <div class="collapse" id=file{{ loop.index }}>
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">源文件path：{{ task.sourcefile_path }}</li>
                            <li class="list-group-item">源文件url：{{ task.sourcefile_url }}</li>
                            <li class="list-group-item">结果文件path：{{ task.resultfile_path }}</li>
                            <li class="list-group-item">结果文件url：{{ task.resultfile_path }}</li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="padding: 0">
                <div class="collapse" id=jsd-3d{{ loop.index }}>
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">文件内模型列表：</li>
                            <li class="list-group-item">example：
                                <a href="{{ url_for('view_server.preview_3dmodel') }}">3D模型预览</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}